:root {
--color-text-primary: #2E2F42;
--color-text-secondary: #434455;
--color-brand: #4D5AE5;
--color-white: #FFFFFF;
--color-footer: #E7E9FC;
--button-hover: #404BBF;
--button-filter-bcg: #F4F4FD;
--color-customers: #8E8F99;
--line-height-h-text: 1.2;
--line-height-p-text: 1.5;
--timing-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
} */

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 428px) {
    .container {
      max-width: 428px;
    }

  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1158px;
    }
}


.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform var(--timing-cubic);
    background-color: var(--color-white);
}

.mobile-menu-open {
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 0;
    border: none;
    background-color: transparent;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.container-mobile-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 80px 35px 40px 40px;
}

.mobile-menu-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-footer);
}

.mobile-nav {
    padding: 0;
    margin: 0;
}

.mobile-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-text-primary);
}

.mobile-nav li:not(:last-child) {
    margin-bottom: 40px;
}

.current-mobile {
    color: var(--button-hover);
}

.mobile-contacts {
    margin: 0;
    padding: 0;
}

.mobile-phone {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-brand);
}

.mobile-email {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-secondary);
}

.mobile-contacts li:first-child {
    margin-bottom: 40px;
}

.mobile-contacts li:last-child {
    margin-bottom: 48px;
}

.social-list {
    margin: 0;
}



@media screen and (max-width: 767px) {

    .mobile-menu-burger {
        display: inline-block;
        stroke: var(--color-text-primary);
    }
    .header-nav,
    .header-menu {
        display: none;
    }
    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* All */

body { 
    color: var(--color-text-primary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: var(--line-height-p-text)
}

ul {
    list-style-type: none;
}

/*Header*/

.header {
    background: var(--color-white);
    border-bottom: 1px solid var(--color-footer);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 76px;
}

.header-menu {
    /* display: flex; */
    padding: 0;
    margin: 0; 
    gap: 40px;
}

 .header-address {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address {
    padding: 24px 0;
}

.logo {
    color: var(--color-brand);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 24px 0;
}

.logo .logo-second {
    color: var(--color-text-primary);
}

.header-link {
    position: relative;
    display: block;
    color: var(--color-text-primary);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: var(--line-height-p-text);
    padding: 24px 0; 
    margin: 0;
    transition: color var(--timing-cubic);
}

.current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--button-hover);
}

.header-menu:first-child {
    padding-left: 0;
}

.header-menu:last-child {
    padding-right: 0;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-brand);
}

.header-link.current {
    color: var(--color-brand);
}

.address {
    color: var(--color-text-primary);
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.02em; 
    line-height: var(--line-height-p-text);
    transition: color var(--timing-cubic);  
}

.address:hover,
.address:focus {
    color: var(--color-brand);
}

/*Hero*/

.hero {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.hero .text {
    color: var(--color-white);
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    letter-spacing: 0.02em;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 48px;
}

.hero .button {
    background-color: var(--color-brand);
    color: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color var(--timing-cubic), color var(--timing-cubic), border var(--timing-cubic), box-shadow var(--timing-cubic);
}

.button:hover,
.button:focus {
    background-color: var(--button-hover);
}

/*Section*/

.section {
    padding: 120px 0;
}

.section-image {
    padding-bottom: 120px;
}

.section-team {
    background-color: var(--button-filter-bcg);
}

.people {
    background-color: var(--color-white);
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.header-link {
    text-decoration: none;
}

.head {
    color: var(--color-text-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: var(--line-height-h-text);
    margin: 0;
    margin-bottom: 8px;
}

.descr {
    color: var(--color-text-secondary);
    margin: 0;
}

.section-name {
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    margin-bottom: 72px;
}

/*Footer*/

.footer .logo-second {
    color: var(--button-filter-bcg);
}

.footer .descr {
    color: var(--color-footer);
    padding: 0;
    width: 264px;
    margin-top: 16px;
}

.footer {
    background-color: var(--color-text-primary);
    border-bottom: 1px solid var(--color-footer);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    display: flex;
}

.footer-icons {
    margin-left: 120px;
}

.footer-subscribe {
    margin-left: 80px;
}

.footer-title {
    color: var(--color-white);
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 0;
}

.footer .social-list {
    margin: 0;
    padding: 0;
    gap: 16px;
}

.footer .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--timing-cubic);
}

.footer .social-list-link:hover,
.footer .social-list-link:focus {
    background-color:  #31D0AA;;
}

.footer-logo {
    display: block;
}

/*Portfolio*/

.filter-button {
    color: var(--color-brand);
    background-color: var(--button-filter-bcg);
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--color-footer);
    border-radius: 4px; 
    padding:12px 24px; 
    transition: background-color var(--timing-cubic), border var(--timing-cubic), color var(--timing-cubic), box-shadow var(--timing-cubic);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--color-white);
    background-color: var(--button-hover);
    border-color: var(--button-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Cards portfolio*/


.ul-list {
    display: flex;
    padding-left: 0;
    gap: 24px;
    margin: 0;
}

.team-card {
    padding: 32px 0;
}

.section-team {
    padding: 120px;
}

.people .head {
    margin-top: 0;
    margin-bottom: 8px;
}

.people .descr {
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-buttons {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-buttons-nav {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    margin-top: 0;
    justify-content: center;
    align-items: center; 
    padding-left: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.flex-element {
    margin-bottom: 48px;
    margin-right: 24px;
}

.flex-element:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.flex-element:nth-child(3n) {
    margin-right: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.border-link {
    border: 1px solid var(--color-footer);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-top: none;
    transition: border var(--timing-cubic), box-shadow var(--timing-cubic);
}  

.border-link:hover,
.border-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Icons */

.icons-features {
    display: flex;
    background-color: var(--button-filter-bcg);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    justify-content: center;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-brand);
    transition: background-color var(--timing-cubic);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--button-hover);
}

.li-customers {
    width: 168px;
    height: 88px;
}

.link-customers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    fill: var(--color-customers);
    border: 1px solid var(--color-customers);
    border-radius: 4px;
    transition: fill var(--timing-cubic), border var(--timing-cubic);
}

.link-customers:hover,
.link-customers:focus {
    fill: var(--button-hover);
    border-color: var(--button-hover);
} 

.link-portfolio {
    text-decoration: none;
    display: block;
}

.img-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    color: var(--button-filter-bcg);
    background-color: var(--color-brand);
    overflow: auto;
    transform: translate(0, 101%);
    transition: transform var(--timing-cubic);
}

.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
    transform: translate(0, 0);
    transition: transform var(--timing-cubic);
}

/* Footer-form */

.subscribe-email {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border var(--timing-cubic);
    color: var(--color-white);
    background-color: var(--color-text-primary);
}

.subscribe-email:focus {
    outline: none;
    border-color: var(--button-hover);
}

.form-subscribe {
    display: flex;
}

.button-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-left: 24px;
    margin-right: 0;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: var(--color-brand);
    transition: background-color var(--timing-cubic);
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: var(--button-hover);
}

.button-subscribe::after {
    content: "";
    height: 24px;
    width: 24px;
    margin-left: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/subscribe.svg);
}

/* Modal window */

.backdrop { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity var(--timing-cubic), visibility var(--timing-cubic), background-color var(--timing-cubic);
}

.backdrop.is-hidden {
    opacity: 0;  
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%) scale(1);
    min-width: 408px;
    min-height: 584px;
    transition: transform var(--timing-cubic), box-shadow var(--timing-cubic), background-color var(--timing-cubic);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #FCFCFC;
}

.button-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-footer);
    transition: fill var(--timing-cubic), background-color var(--timing-cubic), border var(--timing-cubic);
}

.button-close:hover,
.button-close:focus {
    fill: var(--color-white);
    border-radius: 50%;
    background-color: var(--button-hover);
}

.modal-title {
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-label-name {
    display: block;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 1.17;
    margin-bottom: 4px;
    color: var(--color-customers);
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--timing-cubic);
}

.modal-input:focus {
    outline: none;
    border-color: var(--color-brand);
}

.modal-input:focus + .modal-input-icon {
    fill: var(--color-brand);
}

.modal-label-input {
    margin-bottom: 8px;
}

.input-position {
    display: block;
    position: relative;
}

.modal-input-icon {
    position: absolute;
    top: 14px;
    left: 19px;
    transition: fill var(--timing-cubic);
}

.comment-input {
    resize: none;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    transition: border var(--timing-cubic);
}

.comment-input:focus {
    border-color: var(--color-brand);
}

.comment-input::placeholder {
    font-size: 12px;
	line-height: 1.17;
    color: rgba(117, 117, 117, 0.5);
}

.modal-label-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: #757575;
}

.modal-label-checkbox::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 2px;
    border: 1.25px solid var(--color-text-primary);
}

.checkbox:checked + .modal-label-checkbox::before {
    border: none;
    background-image: url(../images/vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--button-hover);
    transition: background-image var(--timing-cubic), background-color var(--timing-cubic);
}

.checkbox:focus + .modal-label-checkbox::before {
    border: 1px solid var(--color-brand);
}

.modal-label-checkbox a{
    text-decoration: underline;
    color: var(--color-brand);
}

.modal-button-submit {
    align-self: center;
    width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    transition: background-color var(--timing-cubic);
    color: var(--color-white);
    background-color: var(--color-brand);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
    background-color: var(--button-hover);
}




















